.history-container {
  max-width: 1200px;
  margin: 24px auto;
  padding: 0 16px;
  margin-bottom: 10rem;

  .page-title {
    color: #333;
    margin-bottom: 24px;
    font-size: 2em;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  .header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 32px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;
    margin-top: 24px;
  }

  .result-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      padding: 16px;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        color: #333;
        font-size: 1.2em;
      }
      .lbl {
        font-weight: 400;
      }
      .passed {
        color: #4CAF50;
      }
      
      .failed {
        color: #ff2344;
      }
    }

    .card-content {
      padding: 24px;

      .chart-container {
        height: 200px;
        margin: 16px 0;
      }

      .score-info {
        text-align: center;
        margin: 16px 0;

        .score-value {
          font-size: 2em;
          font-weight: bold;
          color: #333;
        }

        .score-label {
          color: #666;
          margin-top: 4px;
        }
      }

      .stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
        margin: 16px 0;


        .stat-item {
          text-align: center;
          padding: 8px;
          background: #f5f5f5;
          border-radius: 4px;

          .stat-label {
            color: #666;
            font-size: 0.9em;
          }

          .stat-value {
            color: #333;
            font-weight: 500;
            margin-top: 4px;
          }
        }
      }
    }

    .card-actions {
      padding: 16px;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.action-card{
  margin-top: 2rem;;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px;
    margin: 10px 0 10px 0;
    /*border-top: 1px solid #eee;*/
  }
}
