<div class="question-dialog">

  <div class="dialog-header">
    <h2 mat-dialog-title>Question Details</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="question-details">
      <h3>{{data.question}}</h3>
      <p><strong>Type:</strong> {{data.type}}</p>

      <div class="options-list">
        <h4>Options:</h4>
        <ng-container *ngIf="data.type !== 'ranking'">
          <ul>
            <li *ngFor="let option of data.options; let i = index" 
                [class.correct]="data.correctAnswers.includes(i)">
              {{['A', 'B', 'C', 'D', 'E'][i]}} {{option}} {{data.correctAnswers.includes(i) ? '(Correct)' : ''}}
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="data.type === 'ranking'">
          <p class="correct-order">Correct order:</p>
          <ol>
            <li *ngFor="let index of data.correctAnswers">
              {{['A', 'B', 'C', 'D', 'E'][index]}} {{data.options[index]}}
            </li>
          </ol>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Close</button>
  </mat-dialog-actions>
</div>