<div class="question-dialog">

  <div class="dialog-header">
    <h2 mat-dialog-title>Question Details</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="question-details">
      <h3>{{question.question}}</h3>
      <p><strong>Type:</strong> {{question.type}}</p>

      <div class="options-list">
        <h4>Options:</h4>
        <ng-container *ngIf="question.type !== 'ranking'">
          <ul>
            <li *ngFor="let option of question.options; let i = index" 
                [class.correct]="question.correctAnswers.includes(i+1)">
              {{['A', 'B', 'C', 'D', 'E'][i]}} {{option.text}} {{question.correctAnswers.includes(i+1) ? '(Correct)' : ''}}
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="question.type === 'ranking'">
          <p class="correct-order">Correct order:</p>
          <ol>
            <li *ngFor="let index of question.order">
              {{['A', 'B', 'C', 'D', 'E'][index-1]}} {{question.options[index-1].text}}
            </li>
          </ol>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Close</button>
  </mat-dialog-actions>
</div>