<div class="dialog-header">
  <h2>Summary</h2>
  <button mat-icon-button (click)="closeDialog()" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!--<div class="dialog-content">
  <app-result [sessionId]="data.sessionId" [examId]="data.examId"></app-result>
</div>-->


<div class="dialog-content">
  <div class="header">
    <h2>{{data.examTitle}}</h2>
    <div class="header-info">
      <span class="date">Date: {{formatDate(data.createdAt)}}</span>
      <mat-chip [ngClass]="getStatusColor(data.passed)">
        <span class="status-failed">{{data.passed ? 'Passed' : 'Failed'}}</span>
      </mat-chip>
    </div>
  </div>

  <div class="score-section">
    <div class="flex-content">
      <div class="chart-container">
        <h2>Result</h2>
        <ngx-charts-pie-chart 
          [results]="chartData" 
          [scheme]="colorScheme" 
          [gradient]="true" 
          [legend]="true"
          [doughnut]="true">
        </ngx-charts-pie-chart>
      </div>
      <div class="score-overview">
        <div class="score-circle" [ngClass]="{'passed': data?.passed, 'failed': !data?.passed}">
          <div class="score-value">{{data?.scorePercentage | number:'1.2-2' || 0}}%</div>
          <div class="score-label">Overall Score</div>
        </div>
      </div>
    </div>
    

    <div *ngFor="let section of data.sectionScores" class="section-score">
      <h4>{{section.name}}</h4>
      <div>Score: {{section.score}}%</div>
      <p class="feedback">{{section.feedback}}</p>
    </div>
  </div>

  <!--<div class="recommendations">
    <h3>Recommendations</h3>
    <ul>
      <li *ngFor="let rec of data.recommendations">
        {{rec}}
      </li>
    </ul>
  </div>-->
</div>
