.review-item {
  cursor: pointer;
  border-radius: 4px;
  margin: 4px 0;
  transition: background-color 0.2s;
}

.review-item:hover {
  background-color: #f5f5f5;
}

mat-list-item {
  margin-bottom: 8px;
}

[matListItemTitle] {
  font-weight: 500;
  margin-bottom: 4px;
}

[matListItemLine] {
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-color {
  /*color: var(--primary-color); /* Adjust this to your primary color */
  color: #3f51b5;
}

.warn-color {
  /*color: var(--warn-color); /* Adjust this to your warn color */
  color: #f44336;;

}