<div class="users-container">
    <div class="header">
        <h1>Manage User</h1>
      </div>

    <div class="users-table-container">
      <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let user">{{user.first_name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let user">{{user.last_name}}</td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{user.email}}</td>
        </ng-container>
  
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef>Mobile</th>
          <td mat-cell *matCellDef="let user">{{user.mobile}}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let user">{{user.role?.name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let user">
            <span [class.active]="user.is_active" [class.inactive]="!user.is_active">
              {{user.is_active ? 'Active' : 'Inactive'}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="since">
          <th mat-header-cell *matHeaderCellDef>Since</th>
          <td mat-cell *matCellDef="let user">{{user.created_at | date}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="viewUser(user)" matTooltip="View User">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="editUser(user)" matTooltip="Edit User">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [color]="user.is_active? 'warn' : 'primary'" 
                    (click)="toggleUserStatus(user)"
                    [matTooltip]="user.is_active ? 'Deactivate User' : 'Activate User'">
              <mat-icon>{{user.is_active ? 'block' : 'check_circle'}}</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>