/*mat-card {
    margin: 4rem;
    padding: 20px;
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  mat-card-content {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
*/
.exam-list-container {
  padding: 20px;
}

.exam-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

mat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

mat-card-content {
  flex-grow: 1;
  padding: 0 16px;
}

mat-card-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.card-footer {
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.card-footer  button {
  width: 100%;
  font-size: 1em;
}

.card-footer  app-review-rating {
  width: 100%;
}
