.review-form {
  padding: 20px;
}

.rating-field {
  margin-bottom: 20px;
}

.rating-label {
  display: block;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.6);
}

mat-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

mat-error.comment-error, .mat-mdc-form-field-error-wrapper{
  margin-left: -16px !important;
  padding: 0 -16px !important;
  font-size: 12px;
}

mat-error.rating-error {
  font-size: 12px !important;
}