<!-- <mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/auth/login">Login</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="/auth/register">Register</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</mat-toolbar> -->

<!-- <app-navigation></app-navigation>
<div class="app-container">
  <main class="main-content"><router-outlet /></main>
  <app-footer1></app-footer1>
</div> -->

<app-nav2>
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</app-nav2>