.exam-form {
    max-width: 1200px;
    margin: auto;
    
  
    mat-card {
        padding: 1rem;
    }

    mat-card-title {
        padding: 0px 0px 16px 16px;
    }

    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }
  
    .button-container1 {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    .form-row {
      display: flex;
      gap: 16px; /* Adjust the gap as needed */
    }
    
    .form-field {
      flex: 1;
    }

    .file-upload {
      margin: 20px 0;
      display: flex;
      align-items: center;
      gap: 10px;
  
      .file-name {
        color: rgba(0, 0, 0, 0.6);
        margin-left: 10px;
      }
    }
  
    .questions-preview {
      margin: 20px 0;
      padding: 15px;
      background-color: #f5f5f5;
      border-radius: 4px;
  
      h3 {
        margin: 0 0 10px 0;
        color: rgba(0, 0, 0, 0.87);
      }
  
      .question-preview {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
  
      .more-questions {
        color: rgba(0, 0, 0, 0.6);
        font-style: italic;
      }
    }

    
    .button-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 24px;
  
      button {
        width: 100%;
        padding: 12px;
      }
    }
  }

  @media (max-width: 600px) {
    .form-row {
      flex-direction: column;
    }
  }