<mat-sidenav-container class="admin-container">
    <mat-sidenav #drawer class="admin-sidenav" [class.expanded]="isExpanded" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <app-admin-sidenav [isExpanded]="isExpanded" (toggleExpanded)="toggleSidenav()"></app-admin-sidenav>
    </mat-sidenav>

    <mat-sidenav-content [class.expanded]="isExpanded" [ngClass]="isExpanded ? 's-exanded' : 'snot-exanded'">
        <app-admin-header (toggleMenu)="drawer.toggle()"></app-admin-header>

        <main class="admin-content">
            <router-outlet></router-outlet>
        </main>

        <app-admin-footer></app-admin-footer>
    </mat-sidenav-content>
</mat-sidenav-container>