<h2 mat-dialog-title>Edit User</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email">
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile">
      <mat-error *ngIf="userForm.get('mobile')?.hasError('pattern')">
        Please enter a valid mobile number
    </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleGuid" required>
        <mat-option *ngFor="let role of roles" [value]="role?.rguid">
          {{role?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</mat-dialog-actions>