<mat-expansion-panel #expansionPanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add/Edit Question
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Question</mat-label>
      <input matInput formControlName="question">
      <mat-error *ngIf="isSubmitted && questionForm.get('question')?.errors?.['required']">
        Question is required
      </mat-error>
    </mat-form-field>

    <div class="type-selection">
      <mat-radio-group formControlName="type">
        <mat-radio-button value="single" checked>Single Choice</mat-radio-button>
        <mat-radio-button value="multiple">Multiple Choice</mat-radio-button>
        <mat-radio-button value="true-false">True/False</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="options-container" formArrayName="options">
      <div *ngFor="let option of options.controls; let i = index" class="option-row">
        <ng-container *ngIf="questionForm.get('type')?.value !== 'true-false'">
          <div class="option-label">{{['A', 'B', 'C', 'D', 'E'][i]}}</div>
          <mat-form-field appearance="fill">
            <mat-label>Option {{['A', 'B', 'C', 'D', 'E'][i]}}</mat-label>
            <input matInput [formControlName]="i" >
            <mat-error *ngIf="isSubmitted && options.at(i).errors?.['required']">
              Option is required
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="questionForm.get('type')?.value === 'true-false'">
          <div class="option-label">{{['A', 'B'][i]}}</div>
          <mat-form-field appearance="fill">
            <mat-label>{{options.at(i).value}}</mat-label>
            <input matInput [formControlName]="i" readonly>
          </mat-form-field>
        </ng-container>


        <ng-container *ngIf="questionForm.get('type')?.value === 'single' || questionForm.get('type')?.value === 'true-false'">
          <mat-radio-button 
            [value]="i"
            [checked]="correctAnswers.value.includes(i)"
            (change)="correctAnswers.clear(); correctAnswers.push(fb.control(i))">Correct Answer
          </mat-radio-button>
        </ng-container>

        <ng-container *ngIf="questionForm.get('type')?.value === 'multiple'">
          <mat-checkbox
            [checked]="correctAnswers.value.includes(i)"
            (change)="correctAnswers.value.includes(i) ? 
              correctAnswers.removeAt(correctAnswers.value.indexOf(i)) : 
              correctAnswers.push(fb.control(i))">Correct Answer
          </mat-checkbox>
        </ng-container>
      </div>
    </div>

    <div class="validation-error" *ngIf="isSubmitted && questionForm.get('correctAnswers')?.errors">
      <p *ngIf="questionForm.get('type')?.value === 'single' && questionForm.get('correctAnswers')?.errors?.['required']">
        Please select one correct answer
      </p>
      <p *ngIf="questionForm.get('type')?.value === 'multiple' && (questionForm.get('correctAnswers')?.errors?.['required'] || questionForm.get('correctAnswers')?.errors?.['minLength'])">
        Please select at least two correct answers
      </p>
    </div>
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!questionForm.valid">
        {{currentEditId ? 'Update' : 'Submit'}}
      </button>
      <button mat-button type="button" *ngIf="currentEditId" (click)="cancelEdit()">
        Cancel
      </button>
    </div>
  </form>
</mat-expansion-panel>

  <div class="questions-table-container">
    <table mat-table [dataSource]="filteredQuestions" class="mat-elevation-z8">
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let element">{{element.question}}</td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.type}}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="viewQuestion(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="editQuestion(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteQuestion(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>